body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    background-size: cover;
    /*min-height: 60rem;*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.header{
    height: 5rem;
    background-color: #3e3436;
}

.arrow{
    padding: .3rem;
}

.placement-rel {
    position: relative;
}

.nyt-link {
    text-decoration: none;
    font-size: 1.5rem;
    float: right;
    padding: 2rem 2rem;
}
.intro{
    background: url('../images/bookspic.jpg')no-repeat fixed;
    /*height: 90%;*/
    height: 45rem;
}
.intro-txt {
    font-family: 'Pacifico';
    color: #FFFFE0;
}

.title {
    font-size: 3rem;
    width: 18%;
    margin: 0 auto;
    /*padding: 4% 0 4% 0;*/
}

.title-top {
    bottom: 3rem;
    right: 1%;
}

.title-five {
    font-size: 300%;
}

.title-books {
    top: 1.5rem;
    left: 2%;
}

.dropdown {
    display: inline-block;
    padding: 4% 44%;
}

.dropbtn {
    border: none;
    min-width: 160px;
    width: 100%;
    opacity: .8;
    background-color: azure;
    font-size: medium;
    padding: .5rem;
    border: 3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 200px;
    overflow: scroll;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
}

.dropdown-content li:hover {
    background-color: #D3D3D3;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #D3D3D3;
}

.app-description {
    color: #FFFFE0;
    font-size: 2rem;
    font-family: 'Righteous', cursive;
    width: 56%;
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
}

#results {
    width: 100%;
}

#results img {
    width: 200px;
    height: 280px;
}

.table {
   
    background-color: #bf5c71;
    display: flex;
    align-items: center;
    /*height: 100%;*/
}

.table-heading {
    width: 20%;
    position: relative;
    padding: 100px 0;
}

/*.table-heading:first-child {
    position: relative;
    bottom: 23rem;
}

.table-heading:nth-child(2n+0) {
    position: relative;
    bottom: 14rem;
}

.table-heading:nth-child(3) {
    position: relative;
    bottom: 5rem;
}

.table-heading:last-child {
    position: relative;
    bottom: 23rem;
}*/

.table-heading img {
    border: .5rem solid #FFFFE0;
    border-style: ridge;
    cursor: pointer;
}
.table-heading img:hover{
    border: 1rem solid #FFFFE0;
}

.text-box-style {
    width: 100%;
    margin: 0 auto;
    opacity: .8;
    padding: 1rem;
}

.text-box-style p {
    padding: .5rem;
    font-size: 1rem;
    color: #FFFFE0;
    font-weight: bold;
}

/*.hide-txt {
    display: none;
}*/

.amazon-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFFFE0;
}

footer {
    
    height: 15rem;
    background-color: #3e3436;

}

.contact{
    color: #FFFFE0;
    text-align: center;
    font-family: "Righteous";
    font-size: 1rem;
    padding: 2rem;
}
