body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    background: url('../images/wooden-floor.jpg')no-repeat fixed;
    background-size: cover;
    min-height: 60rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.placement-rel {
    position: relative;
}

.nyt-link {
    text-decoration: none;
    font-size: 1.5rem;
    float: right;
    padding: 2rem 2rem;
}

.intro-txt {
    font-family: 'Pacifico';
    color: #FFFFE0;
}

.title {
    font-size: 3rem;
    width: 18%;
    margin: 0 auto;
}

.title-top {
    bottom: 3rem;
    right: 1%;
}

.title-five {
    font-size: 300%;
}

.title-books {
    top: 1.5rem;
    left: 2%;
}

.dropdown {
    display: inline-block;
    padding: 4% 44%;
}

.dropbtn {
    border: none;
    min-width: 160px;
    width: 100%;
    opacity: .8;
    background-color: #ccc;
    font-size: medium;
    padding: .5rem;
    border: 3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
}

.dropdown-content li:hover {
    background-color: #D3D3D3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #D3D3D3;
}

.app-description {
    color: #FFFFE0;
    font-size: 2rem;
    font-family: 'Righteous', cursive;
    width: 56%;
    text-align: center;
    margin: 0 auto;
}

#results {
    width: 100%;
    margin-top: 10%;
}

#results img {
    width: 200px;
    height: 280px;
}

.table {
    top: 6rem;
}

.table-heading {
    width: 20%;
    position: relative;
}

.table-heading:first-child {
    position: relative;
    bottom: 23rem;
}

.table-heading:nth-child(2n+0) {
    position: relative;
    bottom: 14rem;
}

.table-heading:nth-child(3) {
    position: relative;
    bottom: 5rem;
}

.table-heading:last-child {
    position: relative;
    bottom: 23rem;
}

.table-heading img {
    border: 1rem solid #FFFFE0;
    border-style: double;
}

.text-box-style {
    width: 100%;
    margin: 0 auto;
    opacity: .8;
    padding: 1rem;
}

.text-box-style p {
    padding: .5rem;
    font-size: 1rem;
    color: #FFFFE0;
    font-weight: bold;
}

.hide-txt {
    display: none;
}

.amazon-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFFFE0;
}
